<!DOCTYPE html>


<html lang="en">
<head runat="server">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tom Lewis - @ViewBag.Title</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href="https://fonts.googleapis.com/css?family=Arimo|Roboto" rel="stylesheet">
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

	<div class="main-menu">
		<div class="menu-title"><a href="@Url.Action("Index", "Home")"><i class='fas fa-laptop-code'></i><label>TOM LEWIS</label></a></div>
		<div class="menu-item">@Html.ActionLink("CAREER", "Index", "Career")</div>
		<div class="menu-item">@Html.ActionLink("HOBBIES", "Index", "Hobbies")</div>
		<div class="menu-item">@Html.ActionLink("RÉSUMÉ", "Index", "Resume", null, new { target = "_blank" })</div>
	</div>
	<div class="body-content">
		@RenderBody()
		<footer>
			<p>&copy; @DateTime.Now.Year - Tom Lewis</p>
		</footer>
	</div>
</body>
</html>

